@import "../../index.scss";

.header {
  @include flex(flex-start, center, wrap);
  @include default-shadow;
  padding: 2rem;
}

.header-links {
  display: flex;
  margin-left: 1rem;
}

.header-links > a {
  text-decoration: none;
  color: inherit;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: $primary-theme-color;
  padding: 3px 8px;
  transition: 0.3s ease;
}
